<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Greetings">
  <test thread-count="5" name="Daily Greetings">
    <classes>
      <class name="TestNGPackage.TestNGClass"/>
       <class name="TestNGPackage.TestNGClass2"/>
    </classes>
    </test>
    <test thread-count="5" name="Words">
    <classes>
       <class name="TestNGPackage.TestNGClass3"/>
    </classes>
  </test>
</suite>
